body,html{
    height:vh;
    width:vw;
    background-color:#152535;
    margin:0;
    padding:0;
    color:white;
    font-family: 'Poppins';
}

.navbar img{
    width:130px;
    height:auto;
}
.heading{
    font-weight: bolder;
    font-stretch: ultra-expanded;
    font-family: 'Josefin Sans';
}

.holder{
    position: relative;
}

.bar{
    position:absolute;
    bottom:0;
    left:10px;
}

.barheads{
    font-family: 'Josefin Sans';
    border-left: white;
    border-left-width: thick;
    border-left-style: solid;
}

a{
    color:rgb(185, 179, 179);
}

a:hover{
    text-decoration: none;
    color:white;
}

.topnav li{
    margin: auto;
}

.topnav li a:hover{
    color:white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: medium;
}

.form-group{
    margin-bottom: 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color:transparent;
    color:white;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

.poster{
    margin:100px 94px 0 94px;
}

iframe{
    border-radius: 4px;
    width:vw;
    height:auto;
}

.sideimage{
    border-radius: 5px;
}

.holder{
    height:450px;
}

.forspacing{
    margin-left: 30px;
    margin-top: 10px;
}

.description{
    color:rgb(156, 153, 153);
}

.description button, .description a{
    margin-left: 15px;
    color:rgb(185, 179, 179);
    font-stretch: ultra-expanded;
}

.rating{
    color:rgb(168, 168, 33);
}

.section1{
    margin:50px 70px 0 70px;
    font-weight: lighter;
    font-size: small;
}

.togivemargin{
    margin-top: 30px;
}

.correct{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.correct:hover{
    cursor: pointer;
    position: relative;
    transition:0.3s;
    z-index:6;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.cropimg{
    width:100%;
    height: 170px;
    object-fit: cover;
}

.correct .card-img-top{
    z-index: 5;
    position: relative;
    border-radius: 5px;
    height: 100%;
    width:100%;
}

.correct .card-body {
    background-color: #203345;
    /* display: none; */
    position: absolute;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    transition: transform ease-in;
    transform: translate(0, -100%);
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.correct:hover .card-body {
    height: auto;
    overflow: hidden;
    padding: 1.25rem;
    z-index: 4;
    transform: translate(0, 0);
}

.correct:hover .cropimg, .correct:hover .card-img-overlay {
    transform: scale(1.1);
    transition: transform ease-in;
    border-radius: 5px;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.correct .card-title .fa-plus, .genre .card-title .fa-plus {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.correct .card-img-overlay, .correct .card-img , .genre .card-img , .genre .card-img-top{
    border-radius: 5px;
}

.letter{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 85px;
    color:black;
}

.correct .card-img-overlay{
    display: flex;
    align-items: center;
    justify-content: center
}
.letter p{
    margin: 0;
}

.lang{
    position: absolute;
    bottom: 0;
    left:15px;
    font-weight: 900;
    font-stretch: expanded;
}

.genre{
    background-color: transparent;
    border: none;
}

.genre .card-body {
    background-color: #203345;
    border-radius: 5px;
    margin-left: 8px;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}
.genre .card-img-top{
    width:100%;
    height: 170px;
    object-fit: cover;
}
.genre:hover{
    cursor: pointer;
    position: relative;
    transition:0.3s;
    z-index:6;
}

.genre:hover .card-img {
    transform: scale(1.050);
    transition: transform ease-in ;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.genre:hover .card-img-top{
    transform: scale(1.1);
    transition: transform ease-in ;
    -webkit-box-shadow: -1px 9px 40px -12px black;
    -moz-box-shadow: -1px 9px 40px -12px black;
    box-shadow: -1px 9px 40px -12px black;
}

.card-movie-large .card-body .card-text{
    margin-left: 55px;
}

.genresmall{
    font-size: 13px; 
    position: absolute;
    right: 10px;
    display: inline-block;
}

.genresmall a {
    color: #007bff;
    text-decoration: none;
}

footer p img{
    width:90px ;
    height: 25px;
}

